.skeleton {
    background: #ffeabe8a;
    border-radius: 4px;
}

.skeleton-wrapper {
    position: relative;
    overflow: hidden;
}

.skeleton.text {
    width: 30%;
    height: 5px;
}

.skeleton.title {
    width: 75%;
    height: 12%;
    margin-top: 0.25rem;
}

.skeleton.image {
    width: 94%;
    height: 50%;
    border-radius: 10px 10px 4px 4px;
}

.fullheight {
    height: 100% !important;
}

.fullwidth {
    width: 100% !important;
}

.skeleton.button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.skeleton.button:hover {
    cursor: default;
}

.skeleton.subtitle {
    width: 30%;
    height: 1.2rem;
    margin-top: 0;
}