.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 3.8rem;
    background-color: var(--primarybackgroundcolor);
}

.grid-cardholder {
    display: grid;
    grid-template-columns: 153px 153px 153px;
    align-items: center;
    grid-gap: 20px;
}

@media (max-width: 768px) {
    .grid-cardholder {
        grid-template-columns: 153px 153px;
    }
}

@media (min-width: 1024px) {
    .grid-cardholder {
        grid-template-columns: 153px 153px 153px 153px;
    }
}