.card {
    margin-top: 0.5rem;
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    width: 153px;
    height: 190px;
    position: relative;
    background-color: #FF6E69;
}

.card > img {
    width : 94%;
    margin-left: 3%;
    margin-top: 2.75%;
}

.card > p {
    display: inline-block;
    font-size: 16px;
    color: var(--primarybackgroundcolor);
    margin-top: 1%;
    margin-left: 2.8%;
    font-weight: 700;
}

.lower-container {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    bottom: 0;
    position: absolute;
    margin-left: 3.5%;
    bottom: 2.75%;
}

.cardbutton {
    display: grid;
    place-items: center;
    width: 22px;
    height: 22px;
    background-color: var(--buttonbg);
    border-radius: 50%;
}

.cardbutton:hover{
    cursor: pointer;
}

#secondbutton {
    margin-left: 3.55rem;
}