.card {
    border-radius: 9%;
    display: flex;
    flex-direction: column;
    width: 153px;
    height: 190px;
    background-color: #FF6E69;
}

.relate {
    position: relative;
    min-height: 190px;
    transform-style: preserve-3d;
    transition: all 0.6s ease;
}

.card > .avatar {
    width : 94%;
    margin-left: 3%;
    margin-top: 2.75%;
}

.card > .card-title {
    display: inline-block;
    font-size: 1.1rem;
    color: var(--primarybackgroundcolor);
    margin-top: 3.5% !important;
    margin-left: 2.8%;
    font-weight: 700;
}

.lower-container {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    position: absolute;
    bottom: 2.3%;
    font-size: 1.1rem;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
}

.flipped {
    transform: rotateY(180deg);
}


.back {
    transform: rotateY(180deg);
}

