.card {
    border-radius: 9%;
    display: flex;
    flex-direction: column;
    width: var(--cardwidth);
    height: var(--cardlength);
    background-color: #FF6E69;
}

.card-wrapper {
    position: relative;
    min-height: var(--cardlength);
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.card > .avatar {
    width : 94%;
    margin-left: 3%;
    margin-top: 2.75%;
    height: 50%;
}

.card > .card-title {
    display: inline-block;
    font-size: 1.1rem;
    color: var(--primarybackgroundcolor);
    margin-top: 3.5% !important;
    margin-left: 2.8%;
    font-weight: 700;
}

.lower-card-container {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    position: absolute;
    bottom: 2.3%;
    font-size: 1.1rem;
}

.back-text-wrapper {
    width: 90%;
    margin: 5% 5%;
}

.card-back-description {
    line-height: 1.05rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
}

.back {
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}




