.grid-cardholder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 20px;
}

@media (max-width: 660px) {
    .grid-cardholder {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }
}

@media (min-width: 950px) {
    .grid-cardholder {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }
}