.product-wrapper {
    color: #39393ce0;
    margin-top: 12px;
    width: 45%;
    display: flex;
    height: 2.2rem;
}

.product-info {
    background-color: #fff;
    border-radius: 10px 0px 0px 10px;
    width: calc(100% - 3.4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-info:hover {
    background-color: #d8d8d860;
    cursor: pointer;
}

@media (max-width: 700px) {
    .product-wrapper {
        width: 80%;
    }
    .product-info {
        font-size: 17px;
    }
}

.product-info > div {
    margin: 0px 4%;
}

.product-info > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 4%; 
    max-width: 60%;
    overflow: hidden;
}

.info-right-section {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.icon-wrapper {
    background-color: var(--primarycolor);
    border-radius: 0px 10px 10px 0px;
    width: 3.4rem;
}