header {
    display: flex;
    width: 100%;
    height: 3.75rem;
    background-color: var(--primarycolor);
    color: var(--txtcolor);
    font-size: var(--headertxtsize);
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    position: fixed;
    z-index: 1;
}

.text-logo {
    margin-left: 0.75rem;
}

header > svg {
    margin-left: 1.625rem;
}