footer {
    background-color: var(--primarycolor);
    height: 3.5rem;
    display: flex;
    bottom: 0;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
}