@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Stalinist+One&display=swap');

:root {
    --primarybackgroundcolor: #F2F2F2;
    --primarycolor: #EB5252;
    --txtcolor: #FBFBFB;
    --headertxtsize: 1.5rem;
    --secondarycolor: #FFE8BB;
    --buttonbg: #F6E0B5;
    --cardwidth: 11rem;
    --cardlength: 13.75rem;
    --secondarytxtcolor: #24202b;
    --secondarytxtcolorhovered: #252329;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100%;
}

html,
body {
    height: 100%;
}
