@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Stalinist+One&display=swap');

:root {
    --primarybackgroundcolor: #F2F2F2;
    --primarycolor: #EB5252;
    --txtcolor: #FBFBFB;
    --headertxtsize: 1.5rem;
    --secondarycolor: #FFE8BB;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

html, body {
    background-color: var(--bgcolor);
    height: 100%;
    color: var(--primarybackgroundcolor);
    font-weight: 700;
}

.App {
    height: 100%;
}
